.lrdp-banner {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 32px;
    border-bottom: solid 3px black;
    font-size: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.lrdp-logo{
    height: 75vh;
    width: 100%;
}

.lrdp-banner-account{
    position: absolute;
    right: 50px;
}

.Btn-login{
    display: flex;
    position: absolute;
    right: 50px;
    bottom: 150px;
}